.select-template-box {
  text-align: center;
}

.kuc-dialog-container .kuc-dialog-header span {
  font-size: 20px;
}

.kuc-dialog-wrapper {
  min-width: 650px !important;
}

.kuc-dialog-container .kuc-dialog-body .kuc-textarea {
  width: 100% !important;
}
#receiver_row input {
  width: 60% !important;
}
#subject_row input,
textarea {
  width: 100% !important;
}
#content_row input,
textarea {
  width: 100% !important;
}

#form_email_templete_edit {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0 8px;
  outline: none;
  border: 1px solid #e3e7e8;
  background-color: #fff;
  box-shadow: inset 4px 4px 12px #f5f5f5, inset -4px -4px 12px #f5f5f5;
  font-size: 14px;
}
#title_email_templete_edit {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0 8px;
  padding: 10px;
  outline: none;
  border: 1px solid #e3e7e8;
  background-color: #fff;
  box-shadow: inset 4px 4px 12px #f5f5f5, inset -4px -4px 12px #f5f5f5;
  font-size: 14px;
  height: 48px;
  width: 100% !important;
}
